<!DOCTYPE html>
<html>
<title> CLAUDIA'S PAGE </title> <br>
<img src="img/ufo.gif"> 
<head>
<style> 
body {
		background-image: url("https://vignette1.wikia.nocookie.net/animal-jam-clans-1/images/c/c0/Animated_pixel_stars_box_background_by_driftwoodbones-d7z0h0p.gif/revision/latest?cb=20170221062500.gif");}
</style>
<style>	
h1 {color: white; 
text-align: center;
font-size: 100px;
font-family:French Script MT;
background-color: black;
padding: 50px;
border-style: dashed;
margin-left:100px;
margin-right:100px;}
h2 {
	font-family:Chaparral Pro Light;
    color: purple;
    font-size: 50px;
   text-align: center;
   margin-left:100px;
margin-right:100px;
background-color:  #88abd3 ;
padding: 50px;
border-style: dashed;}

h3 {
	font-family:Freestyle Script;
    color: green;
    font-size: 20px
    margin-left:100px;
margin-right:100px;
border-style: dashed;
padding: 50px;
}
h4 {
	font-family:Kristen itc;
    color: lightpink;
    margin-left:100px;
margin-right:100px;
font-size: 40px;
background-color: midnightblue;
border-style: dashed; 
padding: 50px;
}
p {color:lightblue;
    font-family:comic sans ms;
    font-size: 25px;
margin-left:100px;
margin-right:100px;
padding: 10px;
border-style: double }
p { background-color: #386f95 }

h5 {
	font-family:Bradley Hand ITC;
    color: white;
    margin-left:100px;
margin-right:100px;
font-size: 30px;
background-color:  #09456f ;
border-style: dashed; 
padding: 10px;
}
</style>